# Backend Server Config
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.cooeupd.mongodb.net/nqtmcq?retryWrites=true&w=majority

# Frontend Client Config (Set during deployment on Netlify or client env)
# VITE_API_URL=http://localhost:5000

# Online Compiler API Keys (Optional, used by backend to decrease failure rate)
# JDOODLE_CLIENT_ID=
# JDOODLE_CLIENT_SECRET=
# ONLINECOMPILER_API_KEY=
